body{

    background-color: black;

}

h1,h2{

 text-align: center;
 color: bisque;
 font-weight: bolder;

}

p{

color: bisque;
font-weight: bolder;
font-size: justify;

}


ul li {

text-decoration: underline;
color: bisque;
font-weight: bolder;

}

figure{

    text-align: center;
    border: 5px dashed color(srgb rgb(248, 248, 248) rgb(255, 255, 255) rgb(255, 255, 255))
}